<h1>
jout this is detail of {{data.name}}
</h1>

<br/>

<table class="table">
    <tr ng-repeat="word in data.wordList" class="{{word.done? 'success':'danger'}}"
        ng-controller="WordFlipController as wfc">
        <td>
            <!--<kbd>{{word.done? 'ja':'nein'}}</kbd>-->
            <kbd>
            <a href="" ng-click="toggleWord()">
                <span ng-show="!isFlipped()">{{word.slovak | uppercase}}</span>
                <span ng-show="isFlipped()">{{word.translated | lowercase}}</span>
            </a>
            </kbd>
            <a href="" ng-click="shuffleWord(word)">[ano]</a>
            <a href="">[nie]</a>
        </td>
    </tr>
</table>

<br/>

length: {{data.wordList.length}}
<br/>
<a href="#/">back</a>