jout this is detail of {{data.name}}

<br/>

<table class="table">
    <tr ng-repeat="word in data.wordList" class="{{word.done? 'success':'danger'}}"
        ng-controller="WordFlipController as wfc">
        <td>
            <kbd>{{word.done? 'ja':'nein'}}</kbd>
            <a href="" ng-click="toggleWord()">
                <span ng-show="!isFlipped()">{{word.slovak}}</span>
                <span ng-show="isFlipped()">{{word.translated}}</span>
            </a>
            <a href="" ng-click="shuffleWord(word)">[ano]</a>
            <a href="">[nie]</a>
        </td>
    </tr>
</table>

<!--ng-click="ctrl.shuffleWord(word)"-->

<br/>

length: {{data.wordList.length}}
<br/>
<a href="#/">back</a>