<div>
    <div ng-repeat="list in lists" ng-switch on="list.type">
        <div class="panel panel-default" ng-switch-when="wordset">
            <div class="panel-body">
                <a href="#/detail/{{list.id}}">open detail - {{list.name}}</a> set
            </div>
        </div>
        <div ng-switch-when="homework">
            <a href="#/detail/{{list.id}}">open detail - {{list.name}}</a> homework wohoooo
        </div>
        <div ng-switch-when="grammar">
            <a href="#/detail/{{list.id}}">open detail - {{list.name}}</a> grammar
        </div>


    </div>
</div>